/* CSS STYLE */

/* Styling tombol add data pada jendela input data pasien */
.add-data-button-dialog {
    background: rgb(3, 187, 3);
    color: white;
    font-weight: bold;
}

.add-data-button-dialog:hover {
    background: darkgreen;
}

.add-data-button-dialog:active {
    background: limegreen;
}

/* Styling toolbar add patient data */
.add-data-patient-button {
    background-color: rgb(3, 187, 3);
    color: white;
    font-weight: bold;
}
.add-data-patient-button:hover {
    color: black;
}

.add-data-patient-button:active {
    background-color: limegreen;
}

/* Styling toolbar edit patient data */
.edit-data-patient-button {
    background-color: rgb(130, 168, 130);
    color: white;
    font-weight: bold;
}
.edit-data-patient-button:hover {
    color: black;
}

.edit-data-patient-button:active {
    background-color: rgb(194, 236, 194);
}

/* Styling toolbar delete patient data */
.delete-data-patient-button {
    background-color: rgb(122, 8, 8);
    color: white;
    font-weight: bold;
}
.delete-data-patient-button:hover {
    color: black;
}

.delete-data-patient-button:active {
    background-color: rgb(246, 112, 112);
}

.analysis-income-header {
    background-color: rgb(3, 187, 3);
    color: white;
    font-weight: bold;
}

.analysis-year-header {
    background-color: rgb(187, 3, 3); 
    color: white;
    font-weight: bold;
}